<div th:fragment="sidebar_percepteur" class="col-xl-3">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar3 js-spe-sidebar">
        <nav class="navbar-sidebar2 navbar-sidebar3">
            <ul class="list-unstyled navbar__list">
                <li class="active">
                    <a  th:href="@{/secretaire/home}">
                        <i class="fas fa-home"></i>Accueil
                    </a>
                </li>
                <li>
                    <a th:href="@{/percepteur/classe/lists}">
                        <i class="fas fa-band-aid"></i>Frais de Scolarites </a>
                </li>
                <li th:if="${classe}!= null">
                    <a th:href="@{/percepteur/classe/eleves/payment/lists/}+${classe.id}">
                        <i class="fas fa-bank"></i>Paiments</a>
                </li>
                <li >
                    <a href="#" type="button" data-toggle="modal" data-target="#addMontantModal" ><i class="fa fa-plus"></i>&nbsp;Ajouter un montant total</a>

                </li>
                <li>
                    <a th:href="@{/percepteur/enseignants/lists}">
                        <i class="fas fa-users"></i>Paiements des enseignants</a>
                </li>
                <li>
                    <a th:href="@{/percepteur/staffs/lists}">
                        <i class="fas fa-users"></i>Paiements staffs</a>
                </li>
                <li>
                    <a th:href="@{/percepteur/mouvements/lists}">
                        <i class="fas fa-money-bill-alt"></i>Mouvements financiers</a>
                </li>
                <li>
                    <a th:href="@{/percepteur/message/lists}">
                        <i class="fas fa-comment"></i>Communications</a>
                </li>
                <li>
                    <a th:href="@{/percepteur/bibliotheque/lists}">
                        <i class="fas fa-bookmark"></i>Bibliotheques YesB</a>
                </li>
            </ul>
        </nav>
    </aside>
    <!-- END MENU SIDEBAR-->
</div>