<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Percepteur</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{/css/theme.css}" rel="stylesheet" media="all">

</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER DESKTOP-->
    <header th:replace="~{../templates/fragments/header_percepteur :: header_percepteur}">
    </header>
    <!-- END HEADER DESKTOP -->

    <!-- PAGE CONTENT-->
    <div class="page-container3">
        <section class="alert-wrap p-t-70 p-b-70">
            <div class="container">
                <!-- ALERT-->
                <div class="alert au-alert-success alert-dismissible fade show au-alert au-alert--70per" role="alert">
                    <i class="zmdi zmdi-check-circle"></i>
                    <span th:if="${success}" class="content" th:text="${success}">Vous etes connecté successivement a votre compte</span>
                    <span th:unless="${success}" class="content">Vous etes connecté successivement a votre compte</span>
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                    </button>
                </div>
                <div th:if="${error}" class="alert au-alert-warning alert-dismissible fade show au-alert au-alert--70per" role="alert">
                    <i class="zmdi zmdi-check-circle"></i>
                    <span  class="content" th:text="${error}">Vous êtes connecté successivement à votre compte</span>
                    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                    </button>
                </div>
                <!-- END ALERT-->
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div th:replace="~{../templates/fragments/sidebar_percepteur :: sidebar_percepteur}">
                    </div>
                    <div class="col-xl-9">
                        <!-- PAGE CONTENT-->
                        <h3 class="title-1">Formulaire de modification du : <span th:text="${mouvement.libelle}"></span></h3>
                        <hr>
                        <!-- modal medium -->
                        <div class="card-content">
                                    <form th:action="@{/percepteur/mouvements/update/}+${mouvement.id}" autocomplete="off" method="post" th:object="${mouvement}" class="form-horizontal">
                                        <div class="card-header">
                                            <h5 class="card-title" >Modification mouvement de caisse</h5>
                                        </div>
                                        <div class="card-body card-block">
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label  class=" form-control-label">Type de mouvement </label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select th:field="*{type}" class="form-control">
                                                        <option value="">--Choisir un type ici--</option>
                                                        <option  th:value="${'ENTREE'}" th:text="${'ENTREE'}"></option>
                                                        <option  th:value="${'SORTIE'}" th:text="${'SORTIE'}"></option>
                                                    </select>
                                                    <small class="form-text text-muted" >Mouvement de caisse</small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-nom" class=" form-control-label">Libelle</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="text-nom" th:field="*{libelle}" placeholder="Nom" class="form-control">
                                                    <small class="form-text text-muted">Motif du mouvement de caisse</small>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label  class=" form-control-label">Montant</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="text-montant" name="montant" placeholder="Montant" class="form-control">
                                                    <small class="form-text text-muted">Montant du mouvement de caisse</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a th:href="@{/percepteur/mouvements/detail/}+${mouvement.caisse.id}" class="btn btn-secondary">Retour</a>
                                            <button type="submit" class="btn btn-primary">Créer</button>
                                        </div>
                                    </form>
                                </div>

                        <!-- end modal medium -->
                        <!-- END PAGE CONTENT-->
                    </div>
                </div>
                <!-- COPYRIGHT-->
                <section th:replace="~{../templates/fragments/footer :: footer}"></section>

                <!-- END COPYRIGHT-->
            </div>
        </section>
    </div>



</div>

<!-- Jquery JS-->
<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap JS-->
<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Vendor JS       -->
<script th:src="@{/vendor/slick/slick.min.js}">
</script>
<script th:src="@{/vendor/wow/wow.min.js}"></script>
<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
<script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
</script>
<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
</script>
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{/vendor/select2/select2.min.js}">
</script>

<!-- Main JS-->
<script th:src="@{/js/main.js}"></script>
<script >
    $(document).ready(function() {
        // Add Row
        $('#add-row').DataTable({
            "pageLength": 10,
        });

    });
</script>
<script th:src="@{/js/datatables.min.js}"></script>

</body>

</html>
<!-- end document-->